<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>senha</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario['nome'] }}</td>
                <td>{{ usuario['email'] }}</td>
                <td>{{ usuario['telefone'] }}</td>
                <td>{{ usuario['senha'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
